<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="SistemaAcademicoDB"
             connectionString="Server=BRJND02L\\MSSQLSERVER01;Database=SistemaAcademicoDB;Trusted_Connection=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="caminhoBanco" value="C:\Temp\" />
		<add key="nomeBancoCursos" value="cursos.csv" />
		<add key="nomeBancoDisciplinas" value="disciplinas.csv" />
		<add key="nomeBancoPeriodos" value="periodos.csv" />
	</appSettings>
</configuration>
